:root {
    --gold: #c59d5f;
    --white: #fff;
    --grey: hsl(210, 22%, 49%);
    --radius: 0.8rem;
    --transition: all 0.3s linear;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
    font-family: sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__title {
    font-size: 6rem;
    margin: 0 0 6rem 0;
    text-align: center;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__menu--item {
    font-size: 3rem;
    margin: 0 1rem;
    padding: 0.8rem 1rem;
    border: 1px solid var(--gold);
    border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: var(--gold);
}

.header__menu--item:hover {
    background-color: var(--gold);
    color: var(--white);
    transition: var(--transition);
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 6rem 0 0 0;
    width: 100%;
}

.menu__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 2rem 0;
}

.menu__row--item {
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item__image {
    width: 40%;
    border: 6px solid var(--gold);
    border-radius: var(--radius);
    object-fit: cover;
    cursor: pointer;
}

.item__image img {
    width: 100%;
}

.item__text {
    width: 68%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.item__text--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 2px dotted var(--gold);
}

.item__text--title h4 {
    font-size: 3rem;
    display: flex;
    cursor: pointer;
}

.item__text--price {
    color: var(--gold);
    font-weight: 900;
}

.item__text--description p {
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
    color: var(--grey);
}

.item__text--description p::selection {
    background-color: var(--gold);
    color: var(--white);
}